@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap");

.lighter-text {
  color: #ABB0BE;
}

.main-color-text {
  color: #6394F8;
}

.container {
  margin: auto;
  width: 95%;
  z-index: 1;
  position: fixed;
}

.row {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bolder;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: unset;
}

.badge {
  background-color: #6394f8;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.button {
  background: #6394f8;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
}
.button:hover {
  background: lighten(#6394f8, 3%);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: 0.2s linear;
  outline: none;
  border: none;
  font-family: "Baloo 2", cursive;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
  overflow-x: hidden;
}

input[type="number"] {
  width: 110px;
}

.head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #FA8258;
  padding: 1rem 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 0.5px 1rem rgb(61, 61, 61);
}

.head #toggler {
  display: none;
}

.head .fa-bars {
  font-size: 3rem;
  color: #333;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  display: none;
}

.head .logo {
  width: 100px;
  margin-right: 700px;
}

.head .menu a {
  text-decoration: none;
  padding: 0 1.5rem;
  color: #2e2552;
  font-size: 2rem;
}

.head .menu a:hover {
  color: white;
}

.icons a {
  float: left;
  font-size: 2.5rem;
  color: #2e2552;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.icons a:hover {
  color: #dd262a;
}

.nut_dropdown i:hover {
  color: #dd262a;
}

.icons {
  overflow: hidden;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .nut_dropdown {
  font-size: 2.5rem;
  border: none;
  outline: none;
  color: #2e2552;
  padding: 14px 16px;
  background-color: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  position: relative;
  float: none;
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Home */

.home {
  display: flex;
  align-items: center;
  min-height: 700px;
  background: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1rem 3%;
}

.home .texthome {
  max-width: 50rem;
}

.home .texthome h3 {
  margin-top: 5px;
  font-size: 8rem;
  line-height: 90px;
  color: #dd262a;
  font-family: "BioRhyme", serif;
}

.home .texthome span {
  font-size: 3.5rem;
  color: #f18973;
  font-family: "Montserrat", sans-serif;
  padding: 1rem 0;
  line-height: 1.5;
}

.btn {
  display: inline-block;
  margin-bottom: 20px;
  border-radius: 5rem;
  background: #333;
  color: #fff;
  padding: 0.9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  background: #dd262a;
}

.about {
  padding: 0 10rem;
}

.heading {
  text-align: center;
  font-size: 4rem;
  color: #333;
  padding: 1rem 0;
  margin: 50px;
  margin-bottom: 20px;
}

.about .row {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem 0;
  padding-bottom: 3rem;
}

.about .row .vid {
  flex: 1 1 40rem;
  position: relative;
}

.about .row .vid video {
  width: 100%;
  border: 1.5rem solid #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  height: 100%;
  object-fit: cover;
}

.about .row .vid h3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  background: #fff;
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
  mix-blend-mode: screen;
}

.about .row .content {
  flex: 1 1 50rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: #333;
}

.about .row .content p {
  font-size: 1.5rem;
  color: #999;
  padding: 0.5rem 0;
  padding-top: 1rem;
  line-height: 1.5;
}

.product h1 {
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
}

.footer {
  margin-top: 1rem;
  padding: 2rem;
  background-color: #333;
}

.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 55rem;
}

.footer .box-container .box {
  flex: 1 1 25rem;
}

.footer .box-container .box h3 {
  color: whitesmoke;
  font-size: 3rem;
  padding: 1rem 0;
}

.footer .box-container .box a {
  display: block;
  color: rgb(224, 223, 223);
  font-size: 1.8rem;
  padding: 1rem 0;
}

.footer .box-container .box div a:hover {
  color: #dd262a;
}

.footer .cre {
  text-align: center;
  padding-top: 2rem;
  font-size: 1.5rem;
  color: rgb(224, 223, 223);
  border-top: 1px solid #999;
}

/* media res*/

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .head {
    padding: 2rem;
  }

  .home {
    padding: 2rem;
    background-position: left;
  }

  .head .fa-bars {
    display: block;
  }

  .head .menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #eee;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .head #toggler:checked ~ .menu {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .head .menu a {
    margin: 1.5rem;
    padding: 1.5rem;
    background: #fff;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    display: block;
  }
}

@media (max-width: 768px) {
  .head .fa-bars {
    display: block;
  }

  .head .menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #eee;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .head #toggler:checked ~ .menu {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .head .menu a {
    margin: 1.5rem;
    padding: 1.5rem;
    background: #fff;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    display: block;
  }

  .home .texthome h3 {
    font-size: 5rem;
  }

  .home .texthome span {
    font-size: 2.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .head {
    padding: 2rem;
  }

  .head .logo {
    width: 20rem;
  }

  .heading {
    font-size: 3rem;
  }
}
